.root {
  width: 100%;
  height: 90vh;
  padding: 0 20px;
}

@media (min-width: 769px) {
  .root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* .container {
} */

@media (min-width: 769px) {
  .container {
    display: flex;
  }
}

.subtitle {
  margin: 0;
  padding: 40px 0 10px 0;
  font-family: "Orbitron", sans-serif;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  color: whitesmoke;
}

@media (min-width: 769px) {
  .subtitle {
    padding: 20px 0 0 0px;
  }
}

.parragraph {
  color: #cbc7c7;
  line-height: 1.5;
  font-size: 16px;
}

@media (min-width: 769px) {
  .parragraph__container {
    width: 60%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.animation__container {
  width: 100%;
  height: 50%;
  display: none;
}

@media (min-width: 769px) {
  .animation__container {
    width: 40%;
    height: 70vh;
    display: initial;
  }
}

.animation {
  width: 100%;
  height: 100%;
  border: none;
}
