.root {
  box-sizing: border-box;
  max-width: 768px;
  width: 100%;
  height: 10vh;
  border-radius: 5px;
  border: none;
  position: fixed;
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 0 10px 0 10px;
}

.nav-active {
  background-color: rgba(0, 0, 0, 0.85);
}

.hamburger__open {
  width: 40px;
  height: 35px;
  cursor: pointer;
  background-color: #f6d7a7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.hamburger__open::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: #ea0599;
  box-shadow: 0 0 0 #ea0599;
  transform: translateY(0px) rotate(135deg);
  transition: all 1s ease-out;
}

.hamburger__open::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: #ea0599;
  transform: translateY(0px) rotate(-135deg);
  transition: all 1s ease-out;
}

.hamburger__close {
  width: 40px;
  height: 35px;
  cursor: pointer;
  background-color: rgb(234, 5, 153);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.hamburger__close::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: #f6d7a7;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 #f6d7a7;
  transition: all 1s ease-out;
}

.hamburger__close::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: #f6d7a7;
  transform: translateY(10px);
  transition: all 1s ease-out;
}

.logo {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  font-size: 28px;
  color: #fff;
  text-shadow: 3px 5px 7px rgb(218, 2, 247);
}

.show__modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 10vh;
  left: 0;
  /* background-color: rgba(234, 5, 153, 0.75); */
  background-color: #79018c;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: all 1s ease-out;
}

.hidden__modal {
  position: absolute;
  top: 0px;
  left: -300px;
  transition: all 0.3s ease-out;
}

.list {
  width: 100%;
  height: 60vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.item {
  list-style: none;
  display: block;
}

.link {
  display: block;
  width: 100%;
  height: 33px;
  text-decoration: none;
  font-size: 32px;
  font-weight: 500;
  color: #ffff;
  cursor: pointer;
}

.social__container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon__container {
  width: 60px;
  height: 60px;
  border: 3px wheat solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
