.root {
  width: 100%;
  min-height: 50vh;
  padding-bottom: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (min-width: 769px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
