.root {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (min-width: 769px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

.title_container {
  margin: 20px;
  text-align: center;
}
