.root {
  width: 100%;
  min-height: 90vh;
  padding: 0 20px 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (min-width: 769px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

.subtitle {
  margin: 0;
  padding: 60px 0;
  font-family: "Orbitron", sans-serif;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  color: whitesmoke;
}
