.container {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(51, 68, 63, 0.35);
  border-radius: 7px;
  box-shadow: 10px 3px 12px rgb(0, 0, 0, 0.55),
    -5px -3px 6px rgba(0, 139, 139, 0.75);
  cursor: pointer;
}

@media (min-width: 769px) {
  .container {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 769px) {
  .container:hover {
    background-color: #4c0070;
    transform: scale(1.05);
    transition: all 0.5s ease-in;
  }
}

.img__container {
  width: 100%;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

@media (min-width: 769px) {
  .img__container {
    height: 130px;
  }
}

.img {
  width: 60px;
  height: 50px;
}

@media (min-width: 769px) {
  .img {
    width: 130px;
    height: 130px;
  }
}

.title__container {
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.title {
  color: whitesmoke;
  margin: 0;
}
