.text_title {
  font-size: 2.125rem;
  font-weight: bolder;
  color: var(--primary-font-color);
  font-family: var(--secondary-font);
}

.text_subtitle {
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--primary-font-color);
  font-family: var(--secondary-font);
}

.text_bold {
  font-weight: 600;
  color: var(--secondary-font-color);
}
.text_body {
  color: var(--secondary-font-color);
}
