* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Montserrat", "sans-serif";
  /* font-family: "Orbitron", "sans-serif"; */
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  min-height: 100vh;
}

@media (min-width: 769px) {
  .root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #310147;
  }
}
