.text__title,
.text__bold,
.text__body {
  margin: 3px auto;
  color: white;
}

.text__container {
  text-align: center;
  line-height: 175%;
}

.text__title {
  font-size: 2em;
  font-weight: 700;
}
.text__bold {
  font-size: 1.25em;
  font-weight: 600;
}
.text__body {
  font-size: 1em;
}
