.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.main {
  min-height: 100vh;
  width: 100%;
  padding: 0px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.footer {
  width: 100%;
  position: sticky;
  bottom: 0;
}

.header,
.main,
.footer {
  max-width: 768px;
  background-color: var(--dark-bg-color);
}

@media (min-width: 769px) {
  .header,
  .main,
  .footer {
    max-width: 1200px;
    margin: 0 auto;
  }

  .main {
    padding: 0px 40px 20px 40px;
  }
}
