.root {
  width: 100%;
  height: 90vh;
}

@media (min-width: 769px) {
  .root {
    display: flex;
    padding: 0 10px;
  }
}

.info__container,
.text__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 50%;
}

@media (min-width: 769px) {
  .info__container {
    justify-content: center;
    width: 60%;
    height: 100%;
  }
}

.text__container {
  height: 40%;
}

@media (min-width: 769px) {
  .text__container {
    height: 25%;
  }
}

.title,
.subtitle {
  margin: 0;
  font-family: "Orbitron", sans-serif;
}

.title {
  font-size: 36px;
  text-shadow: 5px 5px 5px rgb(234 5 153);
  color: whitesmoke;
}

@media (min-width: 769px) {
  .title {
    font-size: 50px;
  }
}

.subtitle {
  font-size: 18px;
  color: #cbc7c7;
  font-weight: 500;
}

.animation__container {
  width: 100%;
  height: 50%;
}

@media (min-width: 769px) {
  .animation__container {
    width: 40%;
    height: 90vh;
  }
}

.animation {
  width: 100%;
  height: 100%;
  border: none;
}
