.social_container {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.icon_container {
  width: 40px;
  height: 40px;
  border: 3px solid var(--secondary-font-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
