.root {
  width: 100%;
  min-height: 50vh;
  padding-bottom: 60px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  place-items: center;
  place-content: center;
  gap: 10px;
}

@media (min-width: 769px) {
  .container {
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
