.root {
  width: 100%;
  min-height: 90vh;
  padding: 0 20px 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
}

@media (min-width: 769px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

.subtitle {
  margin: 0;
  padding: 60px 0;
  font-family: "Orbitron", sans-serif;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  color: whitesmoke;
}
