.root {
  max-width: calc(300px + 16px + 16px);
  height: 400px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  box-shadow: rgb(40, 59, 115) 1px 1px 10px;
  animation: cardAnim 1s ease-in-out 0s 1 normal forwards;
  transition: box-shadow 0.75s linear;
}

.noShow {
  opacity: 0;
}

.root:hover {
  box-shadow: rgb(255, 255, 255) 1px 1px 10px;
}

.title_container {
  text-align: center;
}

.img_container {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  cursor: pointer;
}

.project_img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.button_container {
  width: 50%;
}

.icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.link {
  text-transform: uppercase;
}

@keyframes cardAnim {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
