.container {
  box-sizing: border-box;
  max-width: 335px;
  width: 100%;
  height: 450px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(51, 68, 63, 0.35);
  border-radius: 7px;
  box-shadow: 10px 3px 12px rgb(0, 0, 0, 0.55),
    -5px -3px 6px rgba(0, 139, 139, 0.75);
}

.img-container {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  cursor: pointer;
}

.project__img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.icons-container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
}
