.nav {
  width: 100%;
  padding: 16px 0px;
  background: transparent;
  backdrop-filter: blur(100px) brightness(0.4);
  display: flex;
}

@media (min-width: 769px) {
  .nav {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: ". nav .";
    max-width: 1200px;
  }
}

.list {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (min-width: 769px) {
  .list {
    grid-area: nav;
  }
}

.item {
  border-bottom: 1px solid transparent;
}

@media (min-width: 769px) {
  .item:hover {
    border-bottom: 1px solid var(--primary-font-color);
    border-radius: 3px;
    transition: all 0.5s linear;
  }
}

.link {
  display: block;
  width: 100%;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--link-color);
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 3px;
}

@media (min-width: 769px) {
  .link {
    font-size: 1.15rem;
  }
}

.show {
  display: none;
  border-bottom: 1px solid transparent;
}

@media (min-width: 769px) {
  .show {
    display: flex;
  }
  .show:hover {
    border-bottom: 1px solid var(--primary-font-color);
    border-radius: 3px;
    transition: all 0.5s linear;
  }
}
