.root {
  box-sizing: border-box;
  width: 100%;
  height: 10vh;
  border-radius: 5px;
  border: none;
  position: fixed;
}

@media (min-width: 769px) {
  .root {
    box-sizing: border-box;
    width: 1200px;
  }
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 0 10px 0 10px;
}

.nav-active {
  background-color: rgba(0, 0, 0, 0.7);
}

.logo {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  font-size: 28px;
  color: #fff;
  text-shadow: 3px 5px 7px rgb(218, 2, 247);
}

.list {
  width: 40%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  transition: all 1s ease-out;
}

.item {
  list-style: none;
  display: block;
}

.item:hover {
  border-top: 4px solid black;
  border-bottom: 4px solid red;
  transition: all 0.5s ease-out;
}

.link {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #ffff;
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 3px;
}
