.social__container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: rgba(0, 0, 0, 0.3);
}

.icon__container {
  width: 40px;
  height: 40px;
  border: 3px wheat solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.text {
  font-family: "Orbitron", "sans-serif";
  color: aliceblue;
  font-weight: 600;
}
