.root {
  width: 100%;
  min-height: 70vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 769px) {
  .container {
    flex-direction: row;
  }
}

.text_container {
  max-width: 650px;
}

.image_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image {
  width: 328px;
  height: 228px;
}

@media (min-width: 769px) {
  .image {
    width: 400px;
    height: 300px;
  }
}
