.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  width: 100px;
  height: 100px;
  box-shadow: rgb(40, 59, 115) 1px 1px 10px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

@media (min-width: 769px) {
  .container {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 769px) {
  .container:hover {
    transform: scale(1.05);
  }
}

.img_container {
  width: 100%;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 769px) {
  .img_container {
    height: 120px;
  }
}

.img {
  width: 60px;
  height: 50px;
  object-fit: cover;
}

@media (min-width: 769px) {
  .img {
    width: 100px;
    height: 100px;
  }
}

.title_container {
  height: 30px;
  width: 100%;
  text-align: center;
}
