.button__container {
  color: whitesmoke;
  height: 30px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4c0070;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0px 12px white;
}

.link {
  text-decoration: none;
  font-size: 12px;
  color: whitesmoke;
  font-family: "Orbitron", "sans-serif";
}
