.button_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-button-color);
  box-shadow: 2px 2px 3px rgb(40, 59, 115);
}

.button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
