.root {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 16px;
  box-shadow: rgb(40, 59, 115) 1px 1px 10px;
  padding: 16px;
  max-width: 650px;
  animation: fadeInBottom 2s ease 0s 1 normal forwards;
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
