.root {
  width: 100%;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.title_container {
  margin-bottom: 20px;
  text-align: center;
}
